*{
    margin:0px;
    padding:0px;
}

body{
    background-color: rgba(0, 0, 0, 0.941);
}

.nav-bar{
    background-color: rgba(128, 128, 128, 0.236);
    color: white;
    height:80px;
    display:flex;
    align-items: center;
    justify-content:center;
    gap:300px;
}

.sign{
    height:100px; 
    width:100px;
}

/* Nav bar ke buttons per hover effect aayega isse .................... */
.hover-underline {
  /* font-size: 2rem; */
  color: #ffffff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.menu{
    display:flex;
    gap:80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.image-circle{
    border:1px solid white;
    height:200px;
    width:200px;
    border-radius: 50%; 
}

.image{
     display:flex;
   justify-content: center;
   margin-top:100px;
}

.heading-line{
     display:flex;
   justify-content: center;
   margin-top:60px;
}

.para-1{
    color:white;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;
     text-align: center;
     font-size:40px;
}

.highlight{
    color:purple
}

.para-2{
    display:flex;
   justify-content: center;
   margin-top:30px;
   font-size:20px;
}

.paragraph{
    color:white;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
      color: rgb(128, 128, 128);
}

.buttons{
     display:flex;
   justify-content: center;
   gap:20px;
}

.button-1{
    border: 2px solid white;
    border-radius: 50px;
    padding:20px 50px 20px 50px;
    margin-top:50px;
    color:white;
     font-family: Arial, Helvetica, sans-serif;
}

.button-2{
    border: 2px solid white;
    border-radius: 50px;
    padding:20px 50px 20px 50px;
    margin-top:50px;
    color:white;
     font-family: Arial, Helvetica, sans-serif;
}

.skill-head{
color:white;
display:flex;
justify-content: center;
}

.head{
    margin-top:100px;
    font-size: 60px;
     font-family: Arial, Helvetica, sans-serif;
}

.skills{
    color:white;
     display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
    gap:50px;
    margin:80px;
    font-size:25px;
     font-family: Arial, Helvetica, sans-serif;
}

.skill-1{
    border:1px solid purple;
    border-radius: 50px;
    padding:20px;
    text-align: center;
}

.skill-2{
    border:1px solid purple;
    border-radius: 50px;
    padding:20px;
    text-align: center;
}

.skill-3{
    border:1px solid purple;
    border-radius: 50px;
    padding:20px;
    text-align: center;
}

.skill-4{
    border:1px solid purple;
    border-radius: 50px;
    padding:20px;
    text-align: center;
}

.skill-5{
    border:1px solid purple;
    border-radius: 50px;
    padding:20px;
    text-align: center;
}

.skill-6{
    border:1px solid purple;
    border-radius: 50px;
    padding:20px;
    text-align: center;
}

.skill-7{
    border:1px solid purple;
    border-radius: 50px;
    padding:20px;
    text-align: center;
}

.skill-8{
    border:1px solid purple;
    border-radius: 50px;
    padding:20px;
    text-align: center;
}

.projectss{
   display: grid;
  grid-template-columns: repeat(3, 200px); /* 2 boxes per row */
  justify-content: center; /* center align */
  gap: 100px;
  margin-top:100px;
  color:white;
}

.project-head{
    font-weight: bolder;
     margin-top:100px;
    font-size: 60px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     color:white;
}

.project-1{
    border:1px solid white;
    border-radius: 20px;
    text-align: center;
    height:180px;
    width:250px;
}

.project-2{
    border:1px solid white;
    border-radius: 20px;
    text-align: center;
    height:180px;
    width:250px;
}

.project-3{
    border:1px solid white;
    border-radius: 20px;
    text-align: center;
    height:180px;
    width:250px;
}

.project-4{
    border:1px solid white;
    border-radius: 20px;
    text-align: center;
    height:180px;
    width:250px;
}

.project-5{
    border:1px solid white;
    border-radius: 20px;
    text-align: center;
    height:180px;
    width:250px;
}

.project-6{
    border:1px solid white;
    border-radius: 20px;
    text-align: center;
    height:180px;
    width:250px;
}

.experience-head{
    color:white;
    font-weight: bolder;
     margin-top:100px;
    font-size: 60px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
}

.text{
color:purple;
     margin-top:10px;
    font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
}

.experiences{
    color:white;
    margin-top:60px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}